includes:
  - phpstan-baseline.neon

parameters:
  level: 5

  bootstrapFiles:
    - phpstan.bootstrap

  paths:
    - src
    - tpl
    - _define.php

  scanDirectories:
    - ../dotclear

  reportUnmatchedIgnoredErrors: true
