includes:
  - phpstan-baseline.neon

parameters:
  level: 5

  bootstrapFiles:
    - phpstan.bootstrap

  paths:
    - src
    - tpl

  scanDirectories:
    - ../dotclear

  reportUnmatchedIgnoredErrors: false
